.fullCard{
    margin-left: 0;
    padding-left: 0;
}

.branch{
    position: relative;
    left:15px;
}

.total_payment{
    position: relative;
    left:15px;
}

.rest_amount{
    position: relative;
    left:25px;
}