.emp-card-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-direction: column;
    /* border-style: solid; */
    box-shadow: 0 5px 24px rgba(0,0,0,0.4);
    padding-top: 20px;
    
}


.emp-card-container .fullCard{
   

    width: 800px;
    height: 80px;
    /* background: rgb(9, 41, 99); */
    background: rgba(34, 7, 95, 0.5);
    margin: 20px 30px;
  
    
   
}

.emp-card-container .searchBox{
   
}

