

input[type="file"] {
    display: none;
}
.custom-file-upload {
    padding: 5px;
    border-bottom: 1px solid rgba(31, 58, 147, 0.8);
    transition: all 0.3s;
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}

.seperator{
    height: 1px;
    margin: 20px 0;
    margin-bottom: 40px;
    background-color: rgba(31, 58, 147, 0.8);
    width: 80%;
}

.margin-t-end{
    margin-top: 20px;
    position: relative;
    left: 240px;
}