.btn__accept{
    color: rgb(11, 90, 44);
    outline:none;
}

.btn__reject{
    color: crimson;
    outline:none;
}

.fullCard__email{
    margin-right: 10px;
}

.view-payment-datails__name{
    position: relative;
    right: 40px;
}

.view-payment-datails__email{
    position: relative;
    right: 80px;
}

.view-payment-datails__contact{
    position: relative;
    right: 105px;
}

.view-payment-datails__position{
    position: relative;
    right: 170px;
}

